<div class="w3-row-padding">
  <div class="my-3">
    <div class="w3-card">
      <div class="col-sm-12 text-end">
        <span
          class="material-symbols-outlined arrow-back m-sm-2 p-lg-4"
          routerLink="/me/grouplist"
        >
          arrow_back_ios_new
        </span>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2>Kitaplar</h2>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <img
              *ngFor="let pir of pirs; let i = index"
              [routerLink]="['/display/chapter/' + pir.pirId]"
              class="img-thumbnail m-1"
              src="/assets/imageDisplays/namaz.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
