<div #btn_group_fab class="btn-group-fab" role="group" aria-label="FAB Menu">
  <div>
    <button
      type="button"
      class="btn btn-main btn-primary has-tooltip"
      data-placement="left"
      title="Menu"
    >
      <i class="fa fa-bars"></i>
    </button>
    <button
      *ngIf="buttonControl"
      type="button"
      class="btn btn-sub btn-danger has-tooltip"
      data-placement="left"
      title="Kapat"
      onclick="document.getElementById('id_update_chapter').style.display='none'"
    >
      <i class="fa fa-plus"></i>
    </button>
    <button
      type="button"
      class="btn btn-sub btn-info has-tooltip"
      data-placement="left"
      title="Yeni Kelime"
      onclick="document.getElementById('addWordPair').style.display='block'"
      (click)="this.lugatService.getWordsMeaning(this.selectedWord)"
    >
      <i *ngIf="buttonControl" class="fa fa-plus"></i>
      <i *ngIf="!buttonControl" class="fa fa-search"></i>
    </button>
    <button
      *ngIf="buttonControl"
      type="button"
      class="btn btn-sub btn-warning has-tooltip"
      data-placement="left"
      title="Kelimelerin Listesi"
      data-bs-toggle="modal"
      data-bs-target="#displayWordPairs"
    >
      <i class="fa fa-list"></i>
    </button>
  </div>
</div>
