input[type="button"] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    white-space: pre-line;

}
h2{
    font-family: 'Segoe UI', 'Tahoma', Geneva, Verdana, sans-serif;

}