input[type="button"] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    white-space: pre-line;
    text-align: left;

}
h2{
    font-family: 'Segoe UI', 'Tahoma', Geneva, Verdana, sans-serif;

}

.arrow-back{
    margin-right: 5px;
    margin-top: 5px;
}