<div class="w3-center mt-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ selectedChapter?.chapterName }}</h2>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col">
        <div>
          <i class="fa fa-plus" aria-hidden="true"></i>
          <button (click)="decreaseFontSize()">Küçült</button>
          <button (click)="increaseFontSize()">Büyüt</button>
          <p
            [style.font-size.px]="fontSize"
            [style.line-height.px]="lineHeight * fontSize"
            #chapterContent
          ></p>
        </div>
      </div>
    </div>
  </div>
</div>
