.w3-sidebar {
    z-index: 3;
    top: 0px;
    bottom: 0;
    height: inherit;
    display: none;
}

#logo {
    border-radius: 50%;
}

.fa {
    font-size: x-large;
}

@media (min-width:993px) {
    .w3-hide-large {
        display: block
    }
    .w3-sidebar {
        display: none
    }
}