<section class="container">
  <div class="todo-list box">
    <span
      onclick="document.getElementById('addWordPair').style.display='none';"
      class="w3-button w3-xlarge w3-transparent w3-display-topright"
      title="Close Modal"
      (click)="reset()"
      >×</span
    >
    <h2>Lugat</h2>

    <ul>
      <input
        #manualWord
        class="w3-input w3-border w3-margin-bottom"
        type="text"
        value="{{ receivedWord }}"
        placeholder="Aramak istediğiniz kelimeyi giriniz."
      />
      <button
        (click)="getMeaningManuel()"
        class="btn btn-info"
        style="margin-bottom: 2%"
      >
        Ara
      </button>
    </ul>
    <hr />
    <ul class="text-start" *ngFor="let item of this.lugatService.listWords">
      <li [innerHTML]="item.meaning"></li>
    </ul>
  </div>
</section>
